@import "./responsive";
body {
    font-family: $lato;
    margin:0;
    padding: 0;
    header {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("../../../public/images/banner1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        overflow: hidden;
        nav {
            
            .navbar-nav {
                flex:1;
                // MEDIA QUERY width ? 100%? Pour TOGGLE?
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .nav-link {
                    text-transform: uppercase;
                    flex: 1;
                    // padding: auto 30px;
                    &:hover {
                        background-color: $danger;
                    }

                }
            }
        }
        #carouselExampleIndicators {
            .carousel-indicators {
                
                li {
                    border: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                
                }

                .active {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 15px;
                    height: 15px;
                    border: white solid 2px;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    .innerIndic {
                        padding: 0;
                        margin: 0;
                        border-radius: 50%;
                        width: 9px;
                        height: 9px;
                        background-color: white;

                    }
                }
            
             }
            .carousel-inner {
                .carousel-item {
                    .inCarousel {
                        width: 50%;
                        height: 60vh;
                        margin-bottom: 15vh;
                        // voir si pas mieux en auto pour le responsive pour le toggle !
                        .text {
                            h1 {
                                font-family: $courgette;
                                font-size: 3vw;
                                text-align: center;
                                line-height: 1.6;
                                span {
                                    font-size: 4vw;
                                    em {
                                        font-style: normal;
                                        color: $danger
                                    }
                                }

                            }
                        }
                        .boutons {
                            margin-top: 3vh;
                            button {
                                font-size: 1vw;
                            }
                        }
                    }

                }
            }
           
        }
        .decoration {
            position: absolute;
            background-image: url("../../../public/images/bottom_decoration_img.png");
            background-repeat: repeat-x;
            background-position: bottom;
            height: 20px;
            bottom: 0;
            width: 100%;
        }
    }
    .white1 {
        background-image: url("../../../public/images/main_bg.jpg");
        // background-color: transparent;
        .white2corner {
            margin: 0 5%;
            .about {
                .titlecorner {
                    width: 100%;
                }
                .paragraph {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
    .our {
        display: flex;
        align-items: center;
        justify-content: center;
        // width: 50%;
        font-family: $courgette;
        height: 120px;
        background-image: url("../../../public/images/decoration_line.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-y: 80%;
        h1 {
            span {
                color: $danger;
                font-size: 1.3em;
            }
        }
        
    }
    .title {
        // width: 100%;
        height: 120px;
    }
    .menu {
        overflow: hidden;
        .row {
            .col-12 {
                .list-group {
                    a {
                        font-family: $courgette;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        justify-content:center;
                        span {
                            font-size: x-large;
                        }
                    }
                    .active {
                        position: relative;
                        
                    
                        &::after {
                            position: absolute;
                            content: "";
                            background-color: $danger;
                            width: 4px;
                            bottom: 0;
                            height: 100%;
                            right: -4px
                        }
                    }
                }
            }
            .col {
                .row {
                    .col-lg-6 {
                        .ticket {

                            border-bottom: dotted 1px $secondary;
                            img {
                                border: solid rgba(211, 211, 211, 0.479) 5px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    #team {
        background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),url("../../../public/images/team_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 5px 5%;
    }
    .white1 {
        .about {
            .bg-margin {
                display: flex;
                justify-content: center;
                .query {
                    width: 70%;
                    margin: 50px 0;
                    border-radius: 15px;
                    display: flex;
                    background-image: url("../../../public/images/book_table_bg.jpg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    // height: 500px;
                    .bigger {
                        font-size: x-large;
                    }
                    form {
                        input,select {
                            border-radius: 15px;
                        }
                        
                    }

                    
                }
            }
        }
        .blog {
            width: 90%;
            .columns2 {
                .col-lg-6 {
                    .bg-img {
                        background-repeat: no-repeat;
                        // background-size: cover;
                        background-position: left center;
                        background-size: cover;
                        height: 250px;
                        width: 100%;
                        position: relative;
                        border:#E1E0E0 solid 4px;
                        border-radius: 15px;
                        .alert {
                            position: absolute;
                            width: 90%;
                            top: 90%;
                            right: 5%;
                        }
                        .text {
                            width: 90%;
                        }
                    }
                    .bg-img1 {
                        background-image: url("../../../public/images/blog_img1.jpg");
                    }
                    .bg-img2 {
                        background-image: url("../../../public/images/blog_img2.jpg");
                    }
                }
            }
        }
    }
    #testimonials {
        background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url("../../../public/images/testimonials_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        .columns2 {
            margin: auto 5%;
            img {
                height: 150px;
                border: solid white 4px;
                border-radius: 50%;
            }
        }
    }
    #contact {
        background-image: url("../../../public/images/main_bg.jpg");
        .container {
            width: 30%;
            margin: 50px 5%;
            border-radius: 15px;

        }
    }
    
    footer {
        position: relative;
        background-image: url("../../../public/images/footer_background.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        
        .decoration {
            position: absolute;
            background-image: url("../../../public/images/footer_bottom_decoration_img.png");
            background-repeat: repeat-x;
            background-position: top;
            height: 20px;
            top:0;
            width: 100%;
        }
        .row {
            h1 {
                font-size: larger;
            }
            p {
                font-size: smaller;
            }
        }
        .footer2 {
            height: 80px;
        }
    }

}
