@import "./responsive";
body {
    font-family: $lato;
    header {
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url("../../../public/images/banner1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        nav {
            
            .navbar-nav {
                flex:1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                .nav-link {
                    text-transform: uppercase;
                    // padding: auto 30px;
                    &:hover {
                        background-color: $danger;
                    }

                }
            }
        }
        #carouselExampleIndicators {
            .carousel-indicators {
                
                li {
                    border: 0;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                
                }

                .active {
                    // display: flex;
                    // align-items: center;
                    // justify-content: center;
                    width: 15px;
                    height: 15px;
                    border: white solid 2px;
                    background-color: transparent;
                    padding: 0;
                    margin: 0;
                    .innerIndic {
                        padding: 0;
                        margin: 0;
                        border-radius: 50%;
                        width: 9px;
                        height: 9px;
                        background-color: white;

                    }
                }
            
             }
            .carousel-inner {
                .carousel-item {
                    .inCarousel {
                        width: 50%;
                        height: 60vh;
                        margin-bottom: 15vh;
                        .text {
                            h1 {
                                font-family: $courgette;
                                font-size: 3vw;
                                text-align: center;
                                line-height: 1.6;
                                span {
                                    font-size: 4vw;
                                    em {
                                        font-style: normal;
                                        color: $danger
                                    }
                                }

                            }
                        }
                        .boutons {
                            margin-top: 3vh;
                        }
                    }

                }
            }
           
        }
        .decoration {
            position: absolute;
            background-image: url("../../../public/images/bottom_decoration_img.png");
            background-repeat: repeat-x;
            background-position: bottom;
            height: 20px;
            bottom: 0;
            width: 100%;
        }
    }
    .white1 {
        background-image: url("../../../public/images/main_bg.jpg");
        // background-color: transparent;
        .white2corner {
            margin: 0 5%;
            .about {
                .titlecorner {
                    width: 100%;
                }
                .paragraph {
                    width: 50%;
                    text-align: center;
                }
            }
        }
    }
    .our {
        width: 50%;
        font-family: $courgette;
        height: 120px;
        background-image: url("../../../public/images/decoration_line.png");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-position-y: 60%;
        h1 {
            vertical-align: text-top;
            span {
                color: $danger;
                font-size: 1.3em;
            }
        }
        
    }
    .menu {
        .row {
            .col-2 {
                .list-group {
                    a {
                        font-family: $courgette;
                        display: flex;
                        flex-direction: column-reverse;
                        align-items: center;
                        justify-content:center;
                        span {
                            font-size: x-large;
                        }
                    }
                    .active {
                        position: relative;
                    
                        &::after {
                            position: absolute;
                            content: "";
                            background-color: $danger;
                            width: 4px;
                            bottom: 0;
                            height: 100%;
                            right: 0
                        }
                    }
                }
            }
            
            
        }
    }

    
    

}