
// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
$danger:        #C42D40;
$light:         lightgray;
// $dark:          $gray-800 !default;

$courgette : 'courgette',cursive;
$lato : 'lato',sans-serif;

// list item active
$list-group-hover-bg: white;
$list-group-active-color: $danger;
$list-group-active-bg:              white;
$list-group-active-border-color: $danger;